body {
  font-family: Arial;
  margin: 0;
}

/* LEFT SIDEBAR */
.sidebar {
  position: fixed;
  width: 220px;
  height: 100vh;
  background: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
}

.sidebar a {
  display: block;
  margin: 8px 0;
  text-decoration: none;
  color: #009688;
}

/* PROFILE PHOTO */
.profile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/* RIGHT CONTENT */
.content {
  margin-left: 260px;
  padding: 40px 60px;
}

section p,
.publication,
.exp-content {
  max-width: 750px;
}

/* SECTION TITLES */
h2 {
  font-size: 24px;
  font-weight: 500;
  color: #3b6ea5;
  border-bottom: 2px solid #3b6ea5;
  padding-bottom: 6px;
  margin-top: 50px;
  width: 100%;
}

p,
li,
.pub-conf {
  font-size: 15px;
  line-height: 1.6;
}

/* PUBLICATIONS */
.publication {
  margin-top: 20px;
}

/* PUBLICATIONS ACADEMIC STYLE */

.publication {
  margin-top: 20px;
  line-height: 1.6;
}

.pub-title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.pub-conf {
  font-size: 15px;
  font-style: italic;
  color: #444;
}

.pdf-link {
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
  color: #3b6ea5;
}


section {
  margin-bottom: 60px;
}

/* EXPERIENCE */

.exp-item {
  display: flex;
  margin-top: 35px;
}

.exp-date {
  width: 140px;
  font-size: 14px;
  line-height: 1.6;
}

.exp-content {
  flex: 1;
}

.exp-title {
  font-weight: 600;
}

.exp-org {
  font-style: italic;
}

.exp-content ul {
  margin-top: 5px;
}

