.profile-pic {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: 20px auto;
  display: block;
}

.page-title {
  padding: 20px;
  margin-top: 0;
}

.section {
  padding-bottom: 50px;
}
