body {
  font-family: Arial;
  margin: 0;
}

/* LEFT SIDEBAR */
.sidebar {
  position: fixed;
  width: 220px;
  height: 100vh;
  background: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
}

.sidebar a {
  display: block;
  margin: 8px 0;
  text-decoration: none;
  color: #009688;
}

/* PROFILE PHOTO */
.profile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/* RIGHT CONTENT */
.content {
  margin-left: 260px;
  padding: 40px;
  max-width: 800px;
  min-height: 100vh;
}

/* SECTION TITLES */
h2 {
  border-bottom: 2px solid #009688;
  padding-bottom: 5px;
}

/* PUBLICATIONS */
.publication {
  margin-top: 20px;
}

/* PUBLICATIONS ACADEMIC STYLE */

.publication {
  margin-top: 20px;
  line-height: 1.6;
}

.pub-title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.pub-conf {
  font-size: 15px;
  font-style: italic;
  color: #444;
}

section {
  margin-bottom: 60px;
}
